* {
    box-sizing: border-box;
}
body    {
    background-image:url(assets/images/cardboard_flat/cardboard_flat.jpg);
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 10px
}
.header  {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
}
.header-right {
    color:#777777;
    font-size:20;
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
