* {
    box-sizing: border-box;
}


.header-right {
    padding:20px;
    margin-left:100px;
    background:#ffffff;
    float:right;
    width:60%;
    color:#777777;
    clear:0;
    overflow:1;
    height:0;
    font-size:20;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.yourname {
    padding:20px;
    margin-left:150px;
    
}
body    {
    background-image:url(assets/images/cardboard_flat/cardboard_flat.jpg);
}
.left {
    padding: 20px;
    margin-bottom: 20px;
    background: #4aaaa5;
}